APP_NAME=StarAcc
ENVIRONMENT=dev
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/staracc
SECRET_KEY=change-me-super-secret
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30
INVITATION_EXPIRE_DAYS=7
ALGORITHM=HS256
